nav{
  background-color: rgb(44, 61, 80);
}
.jumbotron,
#about{
  background-color: rgb(27, 187, 156);
}
.linee{
  width: 15%;
  height: 4px;
}
.hover-green:hover{
  background-color: rgb(27, 187, 156);
  border: 1px solid #014901 !important;
}
.hover-green:hover i{
  color: #fff !important;
}
.li-green:hover a{
  color: rgb(27, 187, 156) !important;
}
.jumbotron img{
  height: 150px;
}
.white{
  background-color: #fff;
}
.black{
  background-color: #000;
}
.little-linee{
  width: 10%;
  height: 4px;
}
.shadow:focus{
  box-shadow: none;
  border: none;
}
.shadow{
  border: none;
  box-shadow: none !important;
}
.form{
  width: 70%;
}
.height{
  height: 100px !important;
}
.background{
  background-color: rgb(58, 84, 109);
}
.copyright{
  background-color: rgb(44, 62, 80);
}
.icon{
  width: 40px;
  height: 40px;
}
#about button:hover i{
  color: #000 !important;
}
.col img:hover{
  
  cursor: pointer;
}
.formfix{
  padding: 1rem 0 !important;
}
.fixtextarea{
 padding: 1rem 0 0 0!important;
}
.fixtext{
  padding: 1.8rem 0 0 0 !important;
}
.fixtextarea:focus~label{
  transform: scale(.85) translateY(-0.5rem) !important;
}
.fixtext:focus~label{
  transform: scale(.85) translateY(-0.5rem) !important;
}
.overlay{
  background-color:rgba(27, 187, 75, 0.76) ;
}
.font70{
  font-size: 70px;
}
.my_overlay:hover .overlay{
  display: block !important;
}