nav{
  background-color: rgb(44, 61, 80);
}
.fix{
  height: 60px;
}
.jumbotron,
#about{
  background-color: rgb(27, 187, 156);
}
.linee{
  width: 15%;
  height: 4px;
}
.jumbotron img{
  height: 150px;
}
.white{
  background-color: #fff;
}
.black{
  background-color: #000;
}
.little-linee{
  width: 10%;
  height: 4px;
}
.shadow:focus{
  box-shadow: none;
  border: none;
}
.shadow{
  border: none;
  box-shadow: none !important;
}
.form{
  width: 70%;
}
.height{
  height: 100px !important;
}
.background{
  background-color: rgb(58, 84, 109);
}
.copyright{
  background-color: rgb(44, 62, 80);
}
.icon{
  width: 40px;
  height: 40px;
}